@inherits LayoutComponentBase

<div class="minirisk-app">
    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Ocurrió un error inesperado.
    <a href="." class="reload">Recargar</a>
    <span class="dismiss">🗙</span>
</div>
